@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05em;
}

p {
  line-height: 2;
}

.h-70 {
    height: 32rem;
  }
  
  .overlay::before {
    position: absolute;
    display: inline-block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    background: orange;
  }